.homepage {
  .section {
    margin: 5rem 0;

    .section-title {
      text-align: center;
      color: $purple;
    }

    .section-content {
      padding: 0 .5rem;
    }
  }

  .about {
    background: $purple;
    color: #fff;

    h1.xalapacode {
      font-family: 'Rubik', 'Helvetica', 'Arial', sans-serif;
      text-align: center;
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }

    p {
      font-size: 1.5rem;
      color: $almost-white;
    }
  }

  .btn {
    display: block;
    font-size: 1.25rem;
    text-align: center;
    padding: 0.5rem;
    margin: 2rem auto;
    text-decoration: none;
    border-radius: 3px;
    width: 10rem;
    height: 3.6rem;

    &-main {
      background-color: $sky;
      color: $almost-white;
      &:hover {
        background-color: $almost-white;
        color: $purple;
      }
    }

    &-secondary {
      background-color: $purple;
      color: #fff;
      &:hover {
        background-color: #fff;
        border: 1px solid $purple;
        color: $purple;
      }
    }
  }

  .about {
    .buttons {
      display: flex;
      justify-content: center;

      .col-50 {
        margin: 1rem;
      }
    }
  }

  .blog-home {
    .section-title {
      text-align: center;
    }
    .section-content {
      display: grid;
      padding: 4rem;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 2rem;
    }
  }

  .events {
    background-color: #fafaff;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23164f75' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    padding: 4rem 1rem;

    .events-title {
      text-align: center;
      text-transform: uppercase;
      color: $purple;
      background-color: white;
      padding: 0.2rem;
      display: block;
      width: 350px;
      margin: 0 auto;
      border: 3px solid $purple;
      box-shadow: 0 0 20px 20px #fff;
      transform: rotate(-4deg);
      margin-bottom: 1rem;
    }

    .container {
      display: flex;
      justify-content: space-around;

      .empty-event-list {
        background-color: #fff;
        box-shadow: 0 0 5px 2px gray;
        margin: 40px;
        padding: 40px;
        color: $purple;
        text-align: center;
        h2 {
          color: $sky;
        }
      }

      .post-thumbnail {
        width: 33%;

        img {
          width: 100%;
          display: block;
          margin: 0 auto;
        }
      }
    }
  }

  .directory {
    .section-content {
      display: flex;
      flex-flow: row wrap;

      .post-thumbnail {
        margin-right: 1rem;
        margin-bottom: 1rem;

        img {
          max-width: 90px;
          height: auto;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .homepage {
    .about {
      .buttons {
        width: 90%;

        .col-50 {
          display: block;
          width: 90%;
        }
      }
    }

    .events {
      .events-title {
        width: 100%;
      }
    }

    .blog-home {
      .section-content {
        grid-template-columns: 1fr;
      }
    }
  }
}
