.single-blog {
  .container {
    padding: 4em;
  }
  .post-header {
    border: 1px solid rgb(240, 240, 240);
    width: 35%;
    margin: 0 auto;
    padding-bottom: 1em;
    box-shadow: 1px 1px 3px rgb(250,250,250);
  }

  .post-thumbnail {
    width: 80%;
    margin: 0 auto;
    img {
      width: 100%;
      border: 1px solid rgb(240, 240, 240);
    }
  }

  .post-description {
    width: 90%;
    margin: 0 auto;
  }

  .post-title {
    text-align: center;
    margin-bottom: 2em;
  }

  .post-content {
    margin-top: 4em;
  }

  .post-footer {
    margin: 5em 0 1em;
    background-color: rgba(67,76,132, 0.3);
    padding: 1em;
  }

  p code {
    background-color: rgb(245, 245, 245);
    padding: 1px;
    font-family: monospace;
  }

  pre {
    overflow-x: auto;
  }

  figure {
    text-align: center;

    img {
      max-width: 70%;
      border-radius: 4px;
      border: 1px solid gray;
    }
  }

  blockquote {
    font-size: 1.5rem;
    width:50%;
    margin:30px auto 50px;
    font-style:italic;
    font-family: 'Playfair Display', serif;
    color: #333;
    padding:1.2em 30px 1.2em 50px;
    border-left:8px solid $blue;
    line-height:1.6;
    position: relative;
    background:$almost-white;

    &::before{
      font-family:Arial;
      content: "\201C";
      color:$blue;
      font-size:4em;
      position: absolute;
      left: 10px;
      top:-10px;
    }

    &::after{
      content: '';
    }

    em{
      display:block;
      color:#222;
      font-style: normal;
      font-weight: bold;
      margin-top:1em;
      text-align: right;
    }
  }

  table.table-container {
    text-align: center;
    border-collapse: collapse;
    font-size: 1.1rem;

    td, th {
      padding: 0.75em;
    }

    th {
      border-bottom: 4px solid rgb(220, 220, 220);
    }

    &.blue {
      th {
        border-bottom: 4px solid $blue;
      }

      td:nth-child(even),
      th:nth-child(even) {
        background-color: rgba(34,122,181,0.4);
      }
    }

    &.red {
      th {
        border-bottom: 4px solid $red;
      }

      td:nth-child(even),
      th:nth-child(even) {
        background-color: rgba(234,123,115,0.4);
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .single-blog {
    .container {
      padding: 0;

      .post-header {
        width: 90%;
        padding-bottom: 1em;
      }

      .post-thumbnail {
        width: 95%;
        margin: 0 auto;
        img {
          width: 100%;
          border: 1px solid rgb(240, 240, 240);
        }
      }
    }
  }
}
